:root {
  --button-color: #208899;
  --button-hover-color: thistle;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: auto auto;
  height: 100vh;
  width: 1000px;
}

header {
  background-color: #0ab682;
  background-image: url("img/background.jpg");
}

header h1 {
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #caf6e9;
  padding-top: 35px;
}

#quiz-form {
  background-color: rgba(180, 230, 116, 0.66);
  border-radius: 10px;
  border: 7px solid #fff;
}

#submit-form {
  background-color: rgb(136, 168, 94, 0.66);
  border-radius: 10px;
  border: 7px solid #fff;
}

.form {
  width: 70%;
  margin-bottom: 20px;
  padding: 15px;
}

.form .form-group {
  padding: 20px;
}

.form .form-group input {
  width: 100%;
  height: 25px;
  font-weight: 900;
  text-align: center;
}

.form .form-group label {
  display: block;
  padding-bottom: 10px;
  font-weight: 900;
}

.form button {
  border: none;
  background-color: var(--button-color);
  width: 40%;
  height: 25px;
  border-radius: 10px;
  color: #fff;
  margin: 10px;
}

.form button:hover {
  background-color: var(--button-hover-color);
  cursor: pointer;
}

.change-button {
  width: 10%;
}

.change-button .btn {
  display: block;
  border-radius: 50%;
  border: none;
  background-color: var(--button-color);
  color: #fff;
  cursor: pointer;
  width: 80%;
  height: 50px;
}

.change-button .btn:hover {
  background-color: var(--button-hover-color);
}

.list {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 20%;
  background-color: #209998;
  opacity: 0.9;
  color: #fff;
}

.list p {
  padding-top: 20px;
}

.list h2 {
  border-bottom: 1px solid #fff;
}

.no-display {
  display: none;
}
